.content{
  margin: 20px;
}
.dropdown-menu .btn, .dropdown-menu .dropdown-item{
  padding: 10px;
}
.left-pad{
  padding-left: 10px;
}
.dropdown-menu .dropdown-item {
color:#333333;
}
.dropdown-item:hover,.dropdown-item.active {
  background: #DBF0E7;
  color: #333333;
}
